body {
	font-family:  $font-stack;
	font-size: 1.6rem;
	line-height: 1.5;
}
p {
	margin-bottom: 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


/* Navigation */
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
	color: $primary-color;
}
a:visited {
	color: #3D95A6;
}
a:hover,
a:focus,
a:active {
	color: #A3C639;
}

/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.main-navigation	{
	ul	{
		text-align: right;
	}
}
.main-navigation li, .secondary-navigation li {
	display: inline;
}
.main-navigation a, .secondary-navigation a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}
.secondary-navigation	{
	font-size: 1.125em;
	text-transform: uppercase;
}
/* Small menu */
.menu-toggle {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/
.site-header:after {
	content: '';
	display: table;
}

.site-header:after {
	clear: both;
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
#content	{
	margin: 0 auto;
	max-width: 75em;
}

/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/
.hentry {
	margin: 0 0 1.5em;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.site-content	{
	padding: 0 2em;
}
.site-footer {
	clear: both;
	font-size: 0.875em;
	padding: 1em 2em;
	width: 100%;
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-branding	{
	float: left;
	text-align: center;
	width: 25%;
}
.site-header	{
	background: white;
	color: $text-color;
	padding: 10px 2em;
}


/*--------------------------------------------------------------
Small screeens
--------------------------------------------------------------*/
@media screen and (max-width: 600px) {
	.main-navigation {
		clear: both;
		width: 100%;
		ul	{
			text-align: center;
		}
	}
	.home .site-branding, .site-branding	{
		margin: 0 auto;
		max-width: 300px;
		width: 100%;
	}
}