body {
	font-family:  $font-stack;
	font-size: 1.6rem;
	line-height: 1.5;
}
p {
	margin-bottom: 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


/* Navigation */
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
	color: $primary-color;
}
a:visited {
	color: #3D95A6;
}
a:hover,
a:focus,
a:active {
	color: #A3C639;
}

/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
nav	{
	a {
		display: inline-block;
		padding: 10px;
		text-decoration: none;
	}
	li {
		display: inline;
	}
}
.secondary-navigation	{
	font-size: 1.125em;
	text-transform: uppercase;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
#content	{
	margin: 0 auto;
	max-width: 75em;
}
.hentry {
	margin: 0 0 1.5em;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.site-content	{
	padding: 0 2em;
}
.site-footer {
	clear: both;
	font-size: 0.875em;
	padding: 1em 2em;
	width: 100%;
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header	{
	@include flexbox;
	@include flex-flow(row wrap);
	@include flex-just(space-between);
	@include align-items(center);
	background: white;
	color: $text-color;
	margin-bottom: 2em;
	padding: 10px 2em;
	.main-navigation	{
		text-align: center;
		width: 100%;
	}
	.site-branding	{
		width: 100%;
	}
}
@media screen and (min-width: 600px)	{
	.site-header	{
		.main-navigation	{
			@include flex(1 1 0);
			text-align: right;
		}
		.site-branding	{
			max-width: 25%;
		}
	}
}

