/*  
Title: Superfan - Responsive Design & SASS
Description: Code sample showcasing responsive design using SASS.
Author: Derek Houck
Author URI: http://webdesign.derekhouck.com/
Comments: 
*/

@import 'flexbox';
@import 'reset';
@import 'variables';
@import 'base';

/* Superfan */
#indiegathering	{
	background: #fff;
	border: 1px solid #e34e50;
}
.laurels	{
	@include flexbox;
	@include flex-flow(row wrap);
	@include flex-just(center);
	@include align-items(center);
	@include align-content(center);
	li	{
		max-width: 50%;
		margin: 1em;
	}
}
.superfan	{
	background: black;
	color: white;
	a {
		color: #E34E50;
	}
	a:visited {
		color: #AA3B3C;
	}
	a:hover, a:focus, a:active {
		color: #A3C639;
	}
	h2	{
		font-size: 1.5em;
	}
	.news	{
		border-top: 1px solid white;
		padding-top: 1em;
		h1	{
			font-size: 1.125em;
		}
	}
	.page-header	{
		text-align: center;
	}
	.page-title	{
		padding: 20px 0;
	}
}